extends layout

block content
	br
	br
	br
	.container
		form(method='post', action='contact/send')
			.form-group
				label Name
				input.form-control(type='text', name='name',placeholder='type your name')
			.form-group
				label Email
				input.form-control(type='mail', name='email',placeholder='type your email')
			.form-group
				label Message
				textarea.form-control(type='text', name='meaage',placeholder='type your message')
			button.btn.btn-default(type='sumit') Sumit