extends layout

block content
	.main-container					
					section.image-bg.bg-dark.parallax.overlay.pt120.pb120
						.background-image-holder
							img.background-image(alt='Background Image', src='img/logo1.png')
						.container
							.row
								.col-sm-12.text-center
									h1.uppercase.mb8 Five Stars
							// end of row
						// end of container
					section.image-bg.bg-dark.parallax.overlay.pt120.pb120
							.background-image-holder
								img.background-image(alt='Background Image', src='img/resto2.jpg')
						.container
							.row
								.col-sm-12.text-center
									p.lead.mb40 A brief description of the project.
									a.btn.btn-lg.btn-white.mb0(href='#') Open Project
							// end of row
						// end of container
					section.image-bg.bg-dark.parallax.overlay.pt120.pb120
						.background-image-holder
							img.background-image(alt='Background Image', src='img/serv111.jpg')
						.container
							.row
								.col-sm-12.text-center
									h2.uppercase.mb8 The Lonely Dog
									p.lead.mb40 A brief description of the project.
									a.btn.btn-lg.btn-white.mb0(href='#') Open Project
							// end of row
						// end of container
					section.image-bg.bg-dark.parallax.overlay.pt120.pb120
						.background-image-holder
							img.background-image(alt='Background Image', src='img/gateau11.png')
						.container
							.row
								.col-sm-12.text-center
									h2.uppercase.mb8 Summer Lovin&apos;
									p.lead.mb40 A brief description of the project.
									a.btn.btn-lg.btn-white.mb0(href='#') Open Project
							// end of row
						// end of container

	