extends layout

block content
	#myCarousel.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')        
			li(data-target='#myCarousel', data-slide-to='1')        
			li(data-target='#myCarousel', data-slide-to='2')      
		.carousel-inner(role='listbox')
			.item.active
				img.first-slide(src='img/logo.png', alt='First slide') 
	.container.marketing
			.row
				.col-md-4
					img.img-rectangle(src='img/gateau11.png', alt='Generic placeholder image', width='140', height='140')
					h3 Service Patisserie
					p Five Stars est une entreprise privée a but lucratif. Five Stars est une entreprise familiale dirigée par Mme Claudette S Louis, bien connue dans le milieu culinaire haitien. Ex-responsable de Droits d'Or Restaurant pendant plus de six (6) ans. elle travaille actuellement  à titre de consultante pour differents restaurants de la capitale.
					a.btn.btn-default(href='/patisserie') View Details &raquo;
				.col-md-4
					img.img-circle(src='img/plat22.jpg', alt='Generic placeholder image', width='140', height='140')
					h3 Viande et Fruits de Mer...
					p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					a.btn.btn-default(href='/viande') View Details &raquo;
				.col-md-4
					img.img-circle(src='img/serv11.jpg', alt='Generic placeholder image', width='140', height='140')
					h3 Service Traiteur
					p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					a.btn.btn-default(href='/traiteur') View Details &raquo;
					